p { margin:2px 0; }
.center { margin:0 auto; text-align:center; }
.top { margin:0 auto; padding:2px 0; background-color:#eeffd5; width:95%; border-right:1px solid #9a9a9a; }
.bottom { border-bottom:1px solid #9a9a9a; }
.toolbar_wrapper { margin:0 auto;}
.toolbar { position:relative; padding-top:2px; margin:0 auto}
.panel { display:inline-block; padding:0px 3px; overflow:hidden; vertical-align:top; }
#latex_formula { height:200px; font-size:12pt; }
#info {
	position: absolute;
	left: 30px;
	top: 25px;
	color: #CCC
}
#equationview { margin:10px; }
#footer { position:relative; width:98%; text-align:center; }
select 
{
	background-color:#FFFFFF;
	border:1px solid #8FB6BD;
	height:18px;
}
textarea { border:1px solid #8FB6BD; width:85%;}
